@media (max-width: 500px) {
  main {
    --margin: 0px;
  }
  main::before,
  main::after {
    content: unset !important;
  }
  main [style="padding: 12px;"],
  main [style="padding: 24px;"] {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
  main [style="padding: 12px;"] ._block,
  main [style="padding: 24px;"] ._block {
    border-radius: 0 !important;
  }
  .buttons {
    padding: 0 !important;
    background: linear-gradient(transparent, var(--bg)) !important;
    height: 120px;
    align-items: flex-end;
    border: 0 !important;
    backdrop-filter: none !important;
  }
  .buttons button {
    margin: 0 !important;
    background: none !important;
    height: 70px !important;
  }
  .buttons button i {
    font-size: 18px !important;
  }
  ._modalBg.transparent {
    background-color: var(--modalBg) !important;
  }
  ._modalBg {
    backdrop-filter: blur(10px);
  }
  .popup,
  .drawer:not(._popup) {
    --transformOrigin: center bottom !important;
    position: fixed !important;
    inset: 0 !important;
  }
  .popup .content,
  .drawer:not(._popup) .content {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    flex-direction: column;
    overflow-y: auto !important;
    overscroll-behavior: contain;
  }
  .popup .content::before,
  .drawer:not(._popup) .content::before {
    content: "";
    display: block;
    min-height: calc(100vh - 300px) !important;
  }
  .popup:not([class*="leave"]) .content,
  .drawer:not(._popup):not([class*="leave"]) .content {
    animation: scale 0.3s both cubic-bezier(0, 0, 0, 1.2);
    transform-origin: center bottom !important;
  }
  .popup ._popup,
  .drawer:not(._popup) ._popup {
    margin: 40px 20px !important;
    max-height: unset !important;
    min-height: max-content !important;
    overflow: unset !important;
    margin-top: auto !important;
    inset: unset !important;
    width: unset !important;
    border-radius: var(--radius) !important;
  }
  .menuDrawer {
    width: unset !important;
    height: max-content !important;
    top: unset !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 20px !important;
    max-height: calc(100vh - 300px) !important;
    overflow-y: auto !important;
    border-radius: var(--radius) !important;
  }
  .scrollable.widget {
    max-height: 60vh;
  }
}
@-moz-keyframes scale {
  from {
    transform: scale(0.95) translateY(20%);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes scale {
  from {
    transform: scale(0.95) translateY(20%);
  }
  to {
    transform: scale(1);
  }
}
@-o-keyframes scale {
  from {
    transform: scale(0.95) translateY(20%);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale {
  from {
    transform: scale(0.95) translateY(20%);
  }
  to {
    transform: scale(1);
  }
}
