@require "functions"
.contents, .main {
 	postHover(false)
	
	.avatar:not(.square) img {
		border-radius 30% !important
	}
	
	/*** BETTER POSTS ***/
	// Isolated
	._isolated > .article {
		margin calc(var(--margin) / 2) 0
		font-size 1.2em !important
		position relative
	}
	
	// Layout
	.article + :not(.reply) .avatar, :not(._isolated) > .article .avatar {
		width 58px !important
		height 58px !important
		margin-right 14px !important
	}
	.article, .reply, .reply-to, .reply-to-more {
		padding 18px !important
		font-size 1em !important
		margin-top 0px
		.content {
			overflow clip
			margin-right -18px
			padding-right 18px
			margin-left -90px
			padding-left 90px
		}
		.avatar {
			z-index 2
		}
		&.reply {
			padding-bottom 0 !important
			border-left-width 1px
			transition border-left .1s
			& > .reply {
				padding-right 0 !important
			}
			&:hover, &:focus-within {
				border-color var(--accent)
			}
		}
		&.article {
			padding-bottom 6px !important
			& ~ .reply {
				padding-bottom 18px !important
			}
		}
		details {
			display contents
			summary {
				display none
			}
		}
	}
	.article ~ .reply {
		font-size 1em !important
		& > .reply {
			// font-size .95em !important
		}
		
	}
	.renote > .renote, ._block > .info {
		margin-left 34px
		margin-right -14px
		padding 16px 32px 8px !important
		padding-bottom 0 !important
		margin-bottom -14px !important
		&.info {
			margin-left 40px
		}
		& > .avatar {
			display none !important
		}
	}
	.reply-to-more, .reply-to {
		opacity 1 !important
		font-size 1em !important
		.avatar {
			width 58px !important
			height 58px !important
			margin-right 14px !important
		}
		&::before {
			content ""
			position absolute
			top 58px
			margin-left calc(58px / 2 - 2px)
			width 4px
			border-radius 12px
			height calc(100% + 20px)
			background-color var(--fg)
			opacity .3
			z-index -1
		}
	}
	
	.article {
		background none !important
	}
	
	// Content Warnings
	.cw > ._button {
		display block
		width calc(100% + 400px)
		margin .2em
		margin-left -200px
		padding 1em
		padding-left 200px
		text-align left
		background none
		color inherit
		font-size .8em
		transition background-color .2s
		&:hover {
			background-color var(--listItemHoverBg) !important
		}
	}
	
	// Move instance ticker
	.ticker {
		--height 24px
		position sticky
		top calc(var(--stickyTop) + 43px) !important
		height var(--height) !important
		min-width var(--height) !important
		width max-content !important
		margin-bottom calc(0px - var(--height))
		padding 2px
		transform translate(-38px, 12px)
		border-radius 100px !important
		display flex
		place-content center
		z-index 2
		background var(--panelHeaderBg) !important
		box-shadow 0 0 0 2px var(--panelHeaderBg),
					0 2px 8px rgba(0,0,0,0.2)
		pointer-events all !important
		transition padding .2s, background .2s
		._isolated ^[1..1] {
			transform translate(-42px, -18px)
		}
		span {
			line-height var(--height) !important
			font-size 0 !important
			margin 0 !important
			opacity 0
			color var(--fg) !important
			transition font-size .2s, margin .4s, opacity .1s .2s
		}
		img {
			width calc(var(--height) - 4px) !important
			height calc(var(--height) - 4px) !important !important
		}
		&:hover {
			padding-inline 8px !important
			span {
				margin-left 6px !important
				font-size .8em !important
				opacity 1
			}
		}

		/.widgets {
			& .ticker {
				--height 18px
				transform translate(-30px, 12px)
			}
			& .ticker, .avatar {
				top unset !important
			}
		}

	}
	:not(._isolated) > .article, .reply-to-more, .reply-to {
		position relative
	}

	// Repurpose the reply button to show that there are more replies above in the thread
	a.reply {
		display none
		padding .8em !important
		&::before {
			content "+ "
			font-size 1.4em
		}
	}
	.reply-to:first-child, .reply-to-more:first-child {
		a.reply {
			display unset !important
		} 
	}
}