.sidebar {
	display: flex;
	flex-direction: column;
	.active {
		// font-weight 600
		&:not(:hover) {
			&::before {
				// background none !important
			}
		}
	}
	.item:not(.post):not(.gradate):not(.active) {
		color var(--fg) !important
	}
	button:not(.gradate) {
		background none !important
	}
	.nav {
		position: sticky;
		top: 0;
		border-right: .5px solid var(--divider);
		min-height: 100vh !important;
		max-height: 100vh !important;
		overflow: clip auto;

		& > div {
			height: auto !important;
			background: none !important;
			flex: none !important;
			position: relative !important;
			overflow: visible !important;
		}
	}
	& > div:last-child:not(.iconOnly), .nav > div {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 20px);
		background: none;
		.account {
			min-height 54px
			position static
		}
		.post {
			min-height 56px
		}
		& > a, & > button:not(.account):not(.post) {
			flex-grow: 1;
			display: flex !important;
			align-items: center !important;
			align-content: center;
			font-size: 100% !important;
			max-height: 55px;
			min-height 45px
			transition color .2s, transform .2s !important
			span {
				font-size: inherit !important;
			}
			&::before {
				content: "" !important;
				position absolute
				border-radius: 100px !important;
				width unset !important
				height unset !important
				inset 6px 14px !important
				min-height 43px
				opacity .5 !important
				transition background-color .2s
			}
		}
	}
}