.wallpaper {
	background: none !important;
	&::before {
		content: "";
		position: fixed;
		inset: 0px;
		background-color: var(--bg);
		opacity: .85;
		pointer-events: none;
		z-index: -1;
	}
	.sidebar {
		z-index: 3;
		border-right-color: transparent !important
	}
	.contents {
		background: none !important;
		--bg transparent
	}
	main {
		overflow: visible !important;
		position: relative;
		background: none !important;
		border-color: transparent !important;
		// Header
		.fdidabkb {
			margin 0 12px
			width unset
			border-radius 0 0 var(--radius) var(--radius)
		}
	}
	.widgets {
		border: 0 !important;
		background: none !important;
	}

	.post {
		background: none !important;
	}
	.widgets .widget, div.tab, .widget header, .ukygtjoj > header {
		background: none !important;
		&::before, header::before {
			content: "";
			position: absolute;
			inset: 0;
			background: var(--panel);
			opacity: .7 !important;
			z-index: -1;
			pointer-events: none;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			backdrop-filter: blur(10px);
			z-index: -2;
			pointer-events: none;
		}
		&.tab {
			padding-inline: 6px !important;
		}
		._panel, .elsfgstc, header {
			background: none !important;
		}
		& > header::before {
			opacity: .5;
			backdrop-filter: blur(10px);
		}
	}
	.collapsed {
		border-radius: var(--radius) !important;
	}

}