@require "functions"
.main {
	[style*="top: var(--stickyTop)"] {
		bgImgStickyHeaders()
	}
}
/*** BETTER PROFILES ***/
.narrow {
	position: relative;
}
.wide > .main + .sub {
	position sticky
	height max-content
	min-height calc(100vh - 35px)
	bottom 15px
	align-self flex-end
}
.profile {
	margin-bottom: var(--margin);
	.banner-container, .banner, .fade {
		border-bottom-left-radius var(--radius) !important
		border-bottom-right-radius var(--radius) !important
	}
	.banner {
		background-color transparent !important
	}
	.banner-container {
		overflow visible !important
	}
	.actions {
		top 100% !important
		// right unset !important
		// left 154px !important
		background none !important
		.menu {
			text-shadow none !important
			color var(--fg) !important
		}
	}
	.description {
		margin-top: 30px !important;
		padding: 24px !important;
		text-align: left !important;
	}
	.status {
		border-top 0 !important
		padding-block 0px !important
		width max-content
		a {
			padding: 12px;
			b {
				margin-right: .5em;
				line-height: 1em !important;
				display: inline !important;
			}
			span {
				opacity: .8;
				font-size: 1em !important;
			}
		}
	}
	.fields {
		display: flex;
		flex-wrap: wrap;
		padding: 0 24px !important;
		border: 0 !important;
		.field {
			background-color: var(--panelHighlight);
			border-radius: 1em;
			margin: 0 .5em .5em 0 !important;
			font-size: .9em;
			& > * {
				padding: 6px 10px;
			}
			.name {
				width: auto !important;
			}
			.value {
				width: auto !important;
				padding-left: 0;
				a[rel*="nofollow"] {
					margin: -6px -10px;
					margin-left: 0;
					padding: 6px 10px;
					display: flex;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						inset: 0;
						background-color: var(--link);
						border-radius: var(--radius);
						opacity: .1;
					}
					.fa-external-link-square-alt {
						display: none;
					}
				}
			}
		}
		&.system {
			margin-top: -24px;
			padding-top: 1em !important;
			padding-bottom: .5em !important;
			.field {
				background: none;
				opacity: .8;
				max-width: 300px !important;
				font-size: 1em;
				padding-right: 10px !important;
				& > * {
					padding: 0;
					&.name {
						min-width: max-content;
						padding-right: .4rem;
						font-weight: 500 !important;
						font-size: 0;
						i {
							font-size: .9rem;
						}
					}
				}
			}
		}
	}
	& ~ .contents {
		position: relative;
	}
	& ~ .contents > div > ._panel {
		& {
			.content.omitted {
				& > div {
					padding-inline: 0;
				}
				.stream {
					display: flex;
					overflow-x: auto;
					// scroll-snap-type: x mandatory;
					scroll-padding: 24px;
					padding-left: 24px;
					scrollbar-color: transparent transparent;
					mask: linear-gradient(to right, black calc(100% - 400px), rgba(0,0,0,0.4), transparent);
					a {
						min-width: max-content;
						scroll-snap-align: start;
						height: 100px;
					}
				}
				button.fade {
					background: linear-gradient(to right, transparent, var(--panel));
					background: none;
					top: 0;
					bottom: 0;
					right: 0;
					left: unset;
					height: unset;
					width: auto;
					padding: 24px;
				}
			}
			.content:not(.omitted) {
				padding: 0 14px !important;
				padding: 0 !important;
				padding-top: 14px !important;
				& > div {
					padding: 0;
				}
				.stream {
					display: flex;
					flex-wrap: wrap;
					a {
						flex-grow: 1;
						height: auto;
						max-height: 60vh;
						border-radius: 0;
					}
				}
				.empty { display: none; }
			}
		}
	}
}