.content {
	position relative
}
// .tl .article, .notes .article, 
:not(._isolated) > .article,
.reply, .reply-to, .reply-to-more, .renote:not(._panel) {
	position relative
	pointer-events none
	* {
		pointer-events none
	}
	a, button, p, span, video, img, details, .files, .poll {
		&, & * {
			pointer-events all !important
		}
	}
	.cw {
		pointer-events none !important
	}
	.created-at {
		text-decoration none
		&::after {
			content ""
			position absolute
			inset 0
			z-index -1
			cursor default
		}
	}
}