@media only screen and (min-width: 1201px) {
  .columns > .main,
  main > .content > div {
    overflow: visible !important;
  }
  .columns > .main .fdidabkb:not(.slim),
  main > .content > div .fdidabkb:not(.slim) {
    display: contents !important;
  }
  .columns > .main .fdidabkb:not(.slim) > div,
  main > .content > div .fdidabkb:not(.slim) > div {
    height: 50px !important;
  }
  .columns > .main .fdidabkb:not(.slim) .titleContainer,
  main > .content > div .fdidabkb:not(.slim) .titleContainer {
    position: sticky;
    top: var(--stickyTop, 0);
    z-index: 1000;
    margin-left: calc(100% + 17px) !important;
    margin-bottom: -50px !important;
    width: 300px;
    padding-left: 15px;
    box-sizing: border-box;
    background-color: var(--panelHeaderBg);
    border-radius: 0 0 var(--radius) var(--radius);
  }
  .columns > .main .fdidabkb:not(.slim) .titleContainer .avatar,
  main > .content > div .fdidabkb:not(.slim) .titleContainer .avatar {
    margin-left: 0 !important;
  }
  .columns > .main .fdidabkb:not(.slim) .titleContainer .title,
  main > .content > div .fdidabkb:not(.slim) .titleContainer .title {
    white-space: nowrap;
  }
  .columns > .main .fdidabkb:not(.slim) .tabs,
  main > .content > div .fdidabkb:not(.slim) .tabs {
    height: 60px !important;
    margin-left: 0;
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
    font-size: 0.9em !important;
  }
  .columns > .main .fdidabkb:not(.slim) .tabs button::after,
  main > .content > div .fdidabkb:not(.slim) .tabs button::after {
    content: unset !important;
  }
  .columns > .main .fdidabkb:not(.slim) .tabs:empty,
  main > .content > div .fdidabkb:not(.slim) .tabs:empty {
    height: 20px !important;
  }
  .columns > .main .fdidabkb:not(.slim) .right,
  main > .content > div .fdidabkb:not(.slim) .right {
    position: sticky;
    top: var(--stickyTop, 0);
    margin-left: auto !important;
    margin-right: -312px !important;
    margin-top: -75px !important;
    margin-bottom: 9px !important;
    z-index: 1001;
    width: max-content;
    max-width: 150px;
    background-color: var(--panelHeaderBg);
  }
  .columns > .main .fdidabkb:not(.slim) .right::before,
  main > .content > div .fdidabkb:not(.slim) .right::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(to left, var(-panelHeaderBg), transparent);
  }
  .widgets > div[style^="position: sticky"] > div:first-child {
    padding-top: 50px !important;
  }
}
