/*** 


	!!! MAKE SURE TO ADD YOUR INSTANCE DOMAIN IN THE APPLIES TO SECTION BELOW !!!


***/
/* ==UserStyle==
@name           Misskey Tweaks
@version        1.0.5
@description    A collection of tweaks aimed at making Misskey less cluttered!
@updateURL      https://codeberg.org/Freeplay/Misskey-Tweaks/raw/branch/main/userstyle.user.css
@homepageURL    https://codeberg.org/Freeplay/Misskey-Tweaks
@supportURL     https://codeberg.org/Freeplay/Misskey-Tweaks/issues
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)

@var text notice 'Make sure you are using the "Stylus" browser extension, not "Stylish"! — Created by @freeplay@misskey.ai' "'https://add0n.com/stylus.html'"
@var text warn           "!! REFRESH AFTER CHANGING SETTINGS !!" '"OKAY!!"'
@var checkbox header     "↔ Move header aside" 1
@var checkbox sidebar    "📇 Better Sidebar" 1
@var range    TLWidth    "↔ Timeline Width" [800, 750, 1000, 10, "px"]
@var checkbox posts      "💬 Better Posts Layout" 1
@var checkbox postClick  "🖱️ Make (almost) entire post clickable" 1
@var range    avatarRadi "⚫ Avatar Roundness" [30, 5, 50, 5, '%']
@var checkbox profile    "👤 Better Profile Page" 1
@var checkbox profilebg  "🖼 Show user banners as background" 1
@var checkbox bg         "🔲 Better Wallpaper Support" 1
@var checkbox mobile     "📱 Better Mobile Support" 1

==/UserStyle== */
@-moz-document domain("misskey.to"), domain("misskey.ai"), domain("misskey.io"), domain("fedi.nullob.si"), domain("stop.voring.me") {
if header
{
@media only screen and (min-width: 1201px) {
    .columns > .main,
    main > .content > div {
      overflow: visible !important;
    }
    .columns > .main .fdidabkb:not(.slim),
    main > .content > div .fdidabkb:not(.slim) {
      display: contents !important;
    }
    .columns > .main .fdidabkb:not(.slim) > div,
    main > .content > div .fdidabkb:not(.slim) > div {
      height: 50px !important;
    }
    .columns > .main .fdidabkb:not(.slim) .titleContainer,
    main > .content > div .fdidabkb:not(.slim) .titleContainer {
      position: sticky;
      top: var(--stickyTop, 0);
      z-index: 1000;
      margin-left: calc(100% + 17px) !important;
      margin-bottom: -50px !important;
      width: 300px;
      padding-left: 15px;
      box-sizing: border-box;
      background-color: var(--panelHeaderBg);
      border-radius: 0 0 var(--radius) var(--radius);
    }
    .columns > .main .fdidabkb:not(.slim) .titleContainer .avatar,
    main > .content > div .fdidabkb:not(.slim) .titleContainer .avatar {
      margin-left: 0 !important;
    }
    .columns > .main .fdidabkb:not(.slim) .titleContainer .title,
    main > .content > div .fdidabkb:not(.slim) .titleContainer .title {
      white-space: nowrap;
    }
    .columns > .main .fdidabkb:not(.slim) .tabs,
    main > .content > div .fdidabkb:not(.slim) .tabs {
      height: 60px !important;
      margin-left: 0;
      margin-top: 10px !important;
      display: flex;
      justify-content: center;
      font-size: 0.9em !important;
    }
    .columns > .main .fdidabkb:not(.slim) .tabs button::after,
    main > .content > div .fdidabkb:not(.slim) .tabs button::after {
      content: unset !important;
    }
    .columns > .main .fdidabkb:not(.slim) .tabs:empty,
    main > .content > div .fdidabkb:not(.slim) .tabs:empty {
      height: 20px !important;
    }
    .columns > .main .fdidabkb:not(.slim) .right,
    main > .content > div .fdidabkb:not(.slim) .right {
      position: sticky;
      top: var(--stickyTop, 0);
      margin-left: auto !important;
      margin-right: -312px !important;
      margin-top: -75px !important;
      margin-bottom: 9px !important;
      z-index: 1001;
      width: max-content;
      max-width: 150px;
      background-color: var(--panelHeaderBg);
    }
    .columns > .main .fdidabkb:not(.slim) .right::before,
    main > .content > div .fdidabkb:not(.slim) .right::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 40px;
      background: linear-gradient(to left, var(-panelHeaderBg), transparent);
    }
    .widgets > div[style^="position: sticky"] > div:first-child {
      padding-top: 50px !important;
    }
}
}
if bg
{
  .wallpaper {
    background: none !important;
  }
  .wallpaper::before {
    content: "";
    position: fixed;
    inset: 0px;
    background-color: var(--bg);
    opacity: 0.85;
    pointer-events: none;
    z-index: -1;
  }
  .wallpaper .sidebar {
    z-index: 3;
    border-right-color: transparent !important;
  }
  .wallpaper .contents {
    background: none !important;
    --bg: transparent;
  }
  .wallpaper main {
    overflow: visible !important;
    position: relative;
    background: none !important;
    border-color: transparent !important;
  }
  .wallpaper main .fdidabkb {
    margin: 0 12px;
    width: unset;
    border-radius: 0 0 var(--radius) var(--radius);
  }
  .wallpaper .widgets {
    border: 0 !important;
    background: none !important;
  }
  .wallpaper .post {
    background: none !important;
  }
  .wallpaper .widgets .widget,
  .wallpaper div.tab,
  .wallpaper .widget header,
  .wallpaper .ukygtjoj > header {
    background: none !important;
  }
  .wallpaper .widgets .widget::before,
  .wallpaper div.tab::before,
  .wallpaper .widget header::before,
  .wallpaper .ukygtjoj > header::before,
  .wallpaper .widgets .widget header::before,
  .wallpaper div.tab header::before,
  .wallpaper .widget header header::before,
  .wallpaper .ukygtjoj > header header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--panel);
    opacity: 0.7 !important;
    z-index: -1;
    pointer-events: none;
  }
  .wallpaper .widgets .widget::after,
  .wallpaper div.tab::after,
  .wallpaper .widget header::after,
  .wallpaper .ukygtjoj > header::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: -2;
    pointer-events: none;
  }
  .wallpaper .widgets .widget.tab,
  .wallpaper div.tab.tab,
  .wallpaper .widget header.tab,
  .wallpaper .ukygtjoj > header.tab {
    padding-inline: 6px !important;
  }
  .wallpaper .widgets .widget ._panel,
  .wallpaper div.tab ._panel,
  .wallpaper .widget header ._panel,
  .wallpaper .ukygtjoj > header ._panel,
  .wallpaper .widgets .widget .elsfgstc,
  .wallpaper div.tab .elsfgstc,
  .wallpaper .widget header .elsfgstc,
  .wallpaper .ukygtjoj > header .elsfgstc,
  .wallpaper .widgets .widget header,
  .wallpaper div.tab header,
  .wallpaper .widget header header,
  .wallpaper .ukygtjoj > header header {
    background: none !important;
  }
  .wallpaper .widgets .widget > header::before,
  .wallpaper div.tab > header::before,
  .wallpaper .widget header > header::before,
  .wallpaper .ukygtjoj > header > header::before {
    opacity: 0.5;
    backdrop-filter: blur(10px);
  }
  .wallpaper .collapsed {
    border-radius: var(--radius) !important;
  }
}
if posts
{
  .contents [style*="--stickyTop:"],
  .main [style*="--stickyTop:"] {
    z-index: 5 !important;
  }
  .contents .notes > div,
  .main .notes > div,
  .contents ._isolated > *:not(.renote),
  .main ._isolated > *:not(.renote),
  .contents ._panel,
  .main ._panel,
  .contents .contents > div > ._gap > .note._block,
  .main .contents > div > ._gap > .note._block,
  .contents .noGap > [tabindex="-1"],
  .main .noGap > [tabindex="-1"] {
    transition: background 0.2s, transform 0.5s cubic-bezier(0, 0, 0, 1), opacity 0.5s, filter 0.5s !important;
    border-color: transparent !important;
    position: relative;
    z-index: 2;
  }
  .contents .notes > div::after,
  .main .notes > div::after,
  .contents ._isolated > *:not(.renote)::after,
  .main ._isolated > *:not(.renote)::after,
  .contents ._panel::after,
  .main ._panel::after,
  .contents .contents > div > ._gap > .note._block::after,
  .main .contents > div > ._gap > .note._block::after,
  .contents .noGap > [tabindex="-1"]::after,
  .main .noGap > [tabindex="-1"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--listItemHoverBg);
    opacity: 0;
    z-index: -2;
    transition: opacity 0.2s;
  }
  .contents .notes > div:hover:after,
  .main .notes > div:hover:after,
  .contents ._isolated > *:not(.renote):hover:after,
  .main ._isolated > *:not(.renote):hover:after,
  .contents ._panel:hover:after,
  .main ._panel:hover:after,
  .contents .contents > div > ._gap > .note._block:hover:after,
  .main .contents > div > ._gap > .note._block:hover:after,
  .contents .noGap > [tabindex="-1"]:hover:after,
  .main .noGap > [tabindex="-1"]:hover:after,
  .contents .notes > div:focus-within:after,
  .main .notes > div:focus-within:after,
  .contents ._isolated > *:not(.renote):focus-within:after,
  .main ._isolated > *:not(.renote):focus-within:after,
  .contents ._panel:focus-within:after,
  .main ._panel:focus-within:after,
  .contents .contents > div > ._gap > .note._block:focus-within:after,
  .main .contents > div > ._gap > .note._block:focus-within:after,
  .contents .noGap > [tabindex="-1"]:focus-within:after,
  .main .noGap > [tabindex="-1"]:focus-within:after {
    opacity: 1;
  }
  .contents .notes > div:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .main .notes > div:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .contents ._isolated > *:not(.renote):not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .main ._isolated > *:not(.renote):not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .contents ._panel:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .main ._panel:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .contents .contents > div > ._gap > .note._block:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .main .contents > div > ._gap > .note._block:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .contents .noGap > [tabindex="-1"]:not(:last-child):not(.reply-to):not(.reply-to-more)::before,
  .main .noGap > [tabindex="-1"]:not(:last-child):not(.reply-to):not(.reply-to-more)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(var(--radius) + 8px);
    right: calc(var(--radius) + 8px);
    top: unset;
    border-top: 0.5px solid var(--divider) !important;
    --bg: var(--listItemHoverBg);
  }
  .contents .noGap > :not(:last-child),
  .main .noGap > :not(:last-child) {
    border-bottom: 0;
  }
  .contents .avatar:not(.square) img,
  .main .avatar:not(.square) img {
    border-radius: 30% !important;
  }
  .contents ._isolated > .article,
  .main ._isolated > .article {
    margin: calc(var(--margin) / 2) 0;
    font-size: 1.2em !important;
    position: relative;
  }
  .contents .article + :not(.reply) .avatar,
  .main .article + :not(.reply) .avatar,
  .contents :not(._isolated) > .article .avatar,
  .main :not(._isolated) > .article .avatar {
    width: 58px !important;
    height: 58px !important;
    margin-right: 14px !important;
  }
  .contents .article,
  .main .article,
  .contents .reply,
  .main .reply,
  .contents .reply-to,
  .main .reply-to,
  .contents .reply-to-more,
  .main .reply-to-more {
    padding: 18px !important;
    font-size: 1em !important;
    margin-top: 0px;
  }
  .contents .article .content,
  .main .article .content,
  .contents .reply .content,
  .main .reply .content,
  .contents .reply-to .content,
  .main .reply-to .content,
  .contents .reply-to-more .content,
  .main .reply-to-more .content {
    overflow: clip;
    margin-right: -18px;
    padding-right: 18px;
    margin-left: -90px;
    padding-left: 90px;
  }
  .contents .article .avatar,
  .main .article .avatar,
  .contents .reply .avatar,
  .main .reply .avatar,
  .contents .reply-to .avatar,
  .main .reply-to .avatar,
  .contents .reply-to-more .avatar,
  .main .reply-to-more .avatar {
    z-index: 2;
  }
  .contents .article.reply,
  .main .article.reply,
  .contents .reply.reply,
  .main .reply.reply,
  .contents .reply-to.reply,
  .main .reply-to.reply,
  .contents .reply-to-more.reply,
  .main .reply-to-more.reply {
    padding-bottom: 0 !important;
    border-left-width: 1px;
    transition: border-left 0.1s;
  }
  .contents .article.reply > .reply,
  .main .article.reply > .reply,
  .contents .reply.reply > .reply,
  .main .reply.reply > .reply,
  .contents .reply-to.reply > .reply,
  .main .reply-to.reply > .reply,
  .contents .reply-to-more.reply > .reply,
  .main .reply-to-more.reply > .reply {
    padding-right: 0 !important;
  }
  .contents .article.reply:hover,
  .main .article.reply:hover,
  .contents .reply.reply:hover,
  .main .reply.reply:hover,
  .contents .reply-to.reply:hover,
  .main .reply-to.reply:hover,
  .contents .reply-to-more.reply:hover,
  .main .reply-to-more.reply:hover,
  .contents .article.reply:focus-within,
  .main .article.reply:focus-within,
  .contents .reply.reply:focus-within,
  .main .reply.reply:focus-within,
  .contents .reply-to.reply:focus-within,
  .main .reply-to.reply:focus-within,
  .contents .reply-to-more.reply:focus-within,
  .main .reply-to-more.reply:focus-within {
    border-color: var(--accent);
  }
  .contents .article.article,
  .main .article.article,
  .contents .reply.article,
  .main .reply.article,
  .contents .reply-to.article,
  .main .reply-to.article,
  .contents .reply-to-more.article,
  .main .reply-to-more.article {
    padding-bottom: 6px !important;
  }
  .contents .article.article ~ .reply,
  .main .article.article ~ .reply,
  .contents .reply.article ~ .reply,
  .main .reply.article ~ .reply,
  .contents .reply-to.article ~ .reply,
  .main .reply-to.article ~ .reply,
  .contents .reply-to-more.article ~ .reply,
  .main .reply-to-more.article ~ .reply {
    padding-bottom: 18px !important;
  }
  .contents .article details,
  .main .article details,
  .contents .reply details,
  .main .reply details,
  .contents .reply-to details,
  .main .reply-to details,
  .contents .reply-to-more details,
  .main .reply-to-more details {
    display: contents;
  }
  .contents .article details summary,
  .main .article details summary,
  .contents .reply details summary,
  .main .reply details summary,
  .contents .reply-to details summary,
  .main .reply-to details summary,
  .contents .reply-to-more details summary,
  .main .reply-to-more details summary {
    display: none;
  }
  .contents .article ~ .reply,
  .main .article ~ .reply {
    font-size: 1em !important;
  }
  .contents .renote > .renote,
  .main .renote > .renote,
  .contents ._block > .info,
  .main ._block > .info {
    margin-left: 34px;
    margin-right: -14px;
    padding: 16px 32px 8px !important;
    padding-bottom: 0 !important;
    margin-bottom: -14px !important;
  }
  .contents .renote > .renote.info,
  .main .renote > .renote.info,
  .contents ._block > .info.info,
  .main ._block > .info.info {
    margin-left: 40px;
  }
  .contents .renote > .renote > .avatar,
  .main .renote > .renote > .avatar,
  .contents ._block > .info > .avatar,
  .main ._block > .info > .avatar {
    display: none !important;
  }
  .contents .reply-to-more,
  .main .reply-to-more,
  .contents .reply-to,
  .main .reply-to {
    opacity: 1 !important;
    font-size: 1em !important;
  }
  .contents .reply-to-more .avatar,
  .main .reply-to-more .avatar,
  .contents .reply-to .avatar,
  .main .reply-to .avatar {
    width: 58px !important;
    height: 58px !important;
    margin-right: 14px !important;
  }
  .contents .reply-to-more::before,
  .main .reply-to-more::before,
  .contents .reply-to::before,
  .main .reply-to::before {
    content: "";
    position: absolute;
    top: 58px;
    margin-left: calc(58px / 2 - 2px);
    width: 4px;
    border-radius: 12px;
    height: calc(100% + 20px);
    background-color: var(--fg);
    opacity: 0.3;
    z-index: -1;
  }
  .contents .article,
  .main .article {
    background: none !important;
  }
  .contents .cw > ._button,
  .main .cw > ._button {
    display: block;
    width: calc(100% + 400px);
    margin: 0.2em;
    margin-left: -200px;
    padding: 1em;
    padding-left: 200px;
    text-align: left;
    background: none;
    color: inherit;
    font-size: 0.8em;
    transition: background-color 0.2s;
  }
  .contents .cw > ._button:hover,
  .main .cw > ._button:hover {
    background-color: var(--listItemHoverBg) !important;
  }
  .contents .ticker,
  .main .ticker {
    --height: 24px;
    position: sticky;
    top: calc(var(--stickyTop) + 43px) !important;
    height: var(--height) !important;
    min-width: var(--height) !important;
    width: max-content !important;
    margin-bottom: calc(0px - var(--height));
    padding: 2px;
    transform: translate(-38px, 12px);
    border-radius: 100px !important;
    display: flex;
    place-content: center;
    z-index: 2;
    background: var(--panelHeaderBg) !important;
    box-shadow: 0 0 0 2px var(--panelHeaderBg), 0 2px 8px rgba(0,0,0,0.2);
    pointer-events: all !important;
    transition: padding 0.2s, background 0.2s;
  }
  ._isolated .ticker {
    transform: translate(-42px, -18px);
  }
  .contents .ticker span,
  .main .ticker span {
    line-height: var(--height) !important;
    font-size: 0 !important;
    margin: 0 !important;
    opacity: 0;
    color: var(--fg) !important;
    transition: font-size 0.2s, margin 0.4s, opacity 0.1s 0.2s;
  }
  .contents .ticker img,
  .main .ticker img {
    width: calc(var(--height) - 4px) !important;
    height: calc(var(--height) - 4px) !important !important;
  }
  .contents .ticker:hover,
  .main .ticker:hover {
    padding-inline: 8px !important;
  }
  .contents .ticker:hover span,
  .main .ticker:hover span {
    margin-left: 6px !important;
    font-size: 0.8em !important;
    opacity: 1;
  }
  .widgets .ticker {
    --height: 18px;
    transform: translate(-30px, 12px);
  }
  .widgets .ticker,
  .widgets .avatar {
    top: unset !important;
  }
  .contents :not(._isolated) > .article,
  .main :not(._isolated) > .article,
  .contents .reply-to-more,
  .main .reply-to-more,
  .contents .reply-to,
  .main .reply-to {
    position: relative;
  }
  .contents a.reply,
  .main a.reply {
    display: none;
    padding: 0.8em !important;
  }
  .contents a.reply::before,
  .main a.reply::before {
    content: "+ ";
    font-size: 1.4em;
  }
  .contents .reply-to:first-child a.reply,
  .main .reply-to:first-child a.reply,
  .contents .reply-to-more:first-child a.reply,
  .main .reply-to-more:first-child a.reply {
    display: unset !important;
  }
}
if postClick
{
  .content {
    position: relative;
  }
  :not(._isolated) > .article,
  .reply,
  .reply-to,
  .reply-to-more,
  .renote:not(._panel) {
    position: relative;
    pointer-events: none;
  }
  :not(._isolated) > .article *,
  .reply *,
  .reply-to *,
  .reply-to-more *,
  .renote:not(._panel) * {
    pointer-events: none;
  }
  :not(._isolated) > .article a,
  .reply a,
  .reply-to a,
  .reply-to-more a,
  .renote:not(._panel) a,
  :not(._isolated) > .article button,
  .reply button,
  .reply-to button,
  .reply-to-more button,
  .renote:not(._panel) button,
  :not(._isolated) > .article p,
  .reply p,
  .reply-to p,
  .reply-to-more p,
  .renote:not(._panel) p,
  :not(._isolated) > .article span,
  .reply span,
  .reply-to span,
  .reply-to-more span,
  .renote:not(._panel) span,
  :not(._isolated) > .article video,
  .reply video,
  .reply-to video,
  .reply-to-more video,
  .renote:not(._panel) video,
  :not(._isolated) > .article img,
  .reply img,
  .reply-to img,
  .reply-to-more img,
  .renote:not(._panel) img,
  :not(._isolated) > .article details,
  .reply details,
  .reply-to details,
  .reply-to-more details,
  .renote:not(._panel) details,
  :not(._isolated) > .article .files,
  .reply .files,
  .reply-to .files,
  .reply-to-more .files,
  .renote:not(._panel) .files,
  :not(._isolated) > .article .poll,
  .reply .poll,
  .reply-to .poll,
  .reply-to-more .poll,
  .renote:not(._panel) .poll,
  :not(._isolated) > .article a *,
  .reply a *,
  .reply-to a *,
  .reply-to-more a *,
  .renote:not(._panel) a *,
  :not(._isolated) > .article button *,
  .reply button *,
  .reply-to button *,
  .reply-to-more button *,
  .renote:not(._panel) button *,
  :not(._isolated) > .article p *,
  .reply p *,
  .reply-to p *,
  .reply-to-more p *,
  .renote:not(._panel) p *,
  :not(._isolated) > .article span *,
  .reply span *,
  .reply-to span *,
  .reply-to-more span *,
  .renote:not(._panel) span *,
  :not(._isolated) > .article video *,
  .reply video *,
  .reply-to video *,
  .reply-to-more video *,
  .renote:not(._panel) video *,
  :not(._isolated) > .article img *,
  .reply img *,
  .reply-to img *,
  .reply-to-more img *,
  .renote:not(._panel) img *,
  :not(._isolated) > .article details *,
  .reply details *,
  .reply-to details *,
  .reply-to-more details *,
  .renote:not(._panel) details *,
  :not(._isolated) > .article .files *,
  .reply .files *,
  .reply-to .files *,
  .reply-to-more .files *,
  .renote:not(._panel) .files *,
  :not(._isolated) > .article .poll *,
  .reply .poll *,
  .reply-to .poll *,
  .reply-to-more .poll *,
  .renote:not(._panel) .poll * {
    pointer-events: all !important;
  }
  :not(._isolated) > .article .cw,
  .reply .cw,
  .reply-to .cw,
  .reply-to-more .cw,
  .renote:not(._panel) .cw {
    pointer-events: none !important;
  }
  :not(._isolated) > .article .created-at,
  .reply .created-at,
  .reply-to .created-at,
  .reply-to-more .created-at,
  .renote:not(._panel) .created-at {
    text-decoration: none;
  }
  :not(._isolated) > .article .created-at::after,
  .reply .created-at::after,
  .reply-to .created-at::after,
  .reply-to-more .created-at::after,
  .renote:not(._panel) .created-at::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    cursor: default;
  }
}
if profile
{
  .main [style*="top: var(--stickyTop)"] {
    top: calc(var(--stickyTop) + 5px) !important;
    border-radius: var(--radius) !important;
    padding-inline: calc(var(--margin) / 2) !important;
    margin-inline: calc(var(--margin) / 2) !important;
  }
  .narrow {
    position: relative;
  }
  .wide > .main + .sub {
    position: sticky;
    height: max-content;
    min-height: calc(100vh - 35px);
    bottom: 15px;
    align-self: flex-end;
  }
  .profile {
    margin-bottom: var(--margin);
  }
  .profile .banner-container,
  .profile .banner,
  .profile .fade {
    border-bottom-left-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
  }
  .profile .banner {
    background-color: transparent !important;
  }
  .profile .banner-container {
    overflow: visible !important;
  }
  .profile .actions {
    top: 100% !important;
    background: none !important;
  }
  .profile .actions .menu {
    text-shadow: none !important;
    color: var(--fg) !important;
  }
  .profile .description {
    margin-top: 30px !important;
    padding: 24px !important;
    text-align: left !important;
  }
  .profile .status {
    border-top: 0 !important;
    padding-block: 0px !important;
    width: max-content;
  }
  .profile .status a {
    padding: 12px;
  }
  .profile .status a b {
    margin-right: 0.5em;
    line-height: 1em !important;
    display: inline !important;
  }
  .profile .status a span {
    opacity: 0.8;
    font-size: 1em !important;
  }
  .profile .fields {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px !important;
    border: 0 !important;
  }
  .profile .fields .field {
    background-color: var(--panelHighlight);
    border-radius: 1em;
    margin: 0 0.5em 0.5em 0 !important;
    font-size: 0.9em;
  }
  .profile .fields .field > * {
    padding: 6px 10px;
  }
  .profile .fields .field .name {
    width: auto !important;
  }
  .profile .fields .field .value {
    width: auto !important;
    padding-left: 0;
  }
  .profile .fields .field .value a[rel*="nofollow"] {
    margin: -6px -10px;
    margin-left: 0;
    padding: 6px 10px;
    display: flex;
    position: relative;
  }
  .profile .fields .field .value a[rel*="nofollow"]::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--link);
    border-radius: var(--radius);
    opacity: 0.1;
  }
  .profile .fields .field .value a[rel*="nofollow"] .fa-external-link-square-alt {
    display: none;
  }
  .profile .fields.system {
    margin-top: -24px;
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
  }
  .profile .fields.system .field {
    background: none;
    opacity: 0.8;
    max-width: 300px !important;
    font-size: 1em;
    padding-right: 10px !important;
  }
  .profile .fields.system .field > * {
    padding: 0;
  }
  .profile .fields.system .field > *.name {
    min-width: max-content;
    padding-right: 0.4rem;
    font-weight: 500 !important;
    font-size: 0;
  }
  .profile .fields.system .field > *.name i {
    font-size: 0.9rem;
  }
  .profile ~ .contents {
    position: relative;
  }
  .profile ~ .contents > div > ._panel .content.omitted > div {
    padding-inline: 0;
  }
  .profile ~ .contents > div > ._panel .content.omitted .stream {
    display: flex;
    overflow-x: auto;
    scroll-padding: 24px;
    padding-left: 24px;
    scrollbar-color: transparent transparent;
    mask: linear-gradient(to right, #000 calc(100% - 400px), rgba(0,0,0,0.4), transparent);
  }
  .profile ~ .contents > div > ._panel .content.omitted .stream a {
    min-width: max-content;
    scroll-snap-align: start;
    height: 100px;
  }
  .profile ~ .contents > div > ._panel .content.omitted button.fade {
    background: linear-gradient(to right, transparent, var(--panel));
    background: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: unset;
    height: unset;
    width: auto;
    padding: 24px;
  }
  .profile ~ .contents > div > ._panel .content:not(.omitted) {
    padding: 0 14px !important;
    padding: 0 !important;
    padding-top: 14px !important;
  }
  .profile ~ .contents > div > ._panel .content:not(.omitted) > div {
    padding: 0;
  }
  .profile ~ .contents > div > ._panel .content:not(.omitted) .stream {
    display: flex;
    flex-wrap: wrap;
  }
  .profile ~ .contents > div > ._panel .content:not(.omitted) .stream a {
    flex-grow: 1;
    height: auto;
    max-height: 60vh;
    border-radius: 0;
  }
  .profile ~ .contents > div > ._panel .content:not(.omitted) .empty {
    display: none;
  }
}
if profilebg
{
  .profile .banner::after,
  ._popup .banner::after {
    content: "";
    background-image: inherit;
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    opacity: 0.1;
    filter: blur(10px);
  }
}
if sidebar
{
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  .sidebar .item:not(.post):not(.gradate):not(.active) {
    color: var(--fg) !important;
  }
  .sidebar button:not(.gradate) {
    background: none !important;
  }
  .sidebar .nav {
    position: sticky;
    top: 0;
    border-right: 0.5px solid var(--divider);
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow: clip auto;
  }
  .sidebar .nav > div {
    height: auto !important;
    background: none !important;
    flex: none !important;
    position: relative !important;
    overflow: visible !important;
  }
  .sidebar > div:last-child:not(.iconOnly),
  .sidebar .nav > div {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    background: none;
  }
  .sidebar > div:last-child:not(.iconOnly) .account,
  .sidebar .nav > div .account {
    min-height: 54px;
    position: static;
  }
  .sidebar > div:last-child:not(.iconOnly) .post,
  .sidebar .nav > div .post {
    min-height: 56px;
  }
  .sidebar > div:last-child:not(.iconOnly) > a,
  .sidebar .nav > div > a,
  .sidebar > div:last-child:not(.iconOnly) > button:not(.account):not(.post),
  .sidebar .nav > div > button:not(.account):not(.post) {
    flex-grow: 1;
    display: flex !important;
    align-items: center !important;
    align-content: center;
    font-size: 100% !important;
    max-height: 55px;
    min-height: 45px;
    transition: color 0.2s, transform 0.2s !important;
  }
  .sidebar > div:last-child:not(.iconOnly) > a span,
  .sidebar .nav > div > a span,
  .sidebar > div:last-child:not(.iconOnly) > button:not(.account):not(.post) span,
  .sidebar .nav > div > button:not(.account):not(.post) span {
    font-size: inherit !important;
  }
  .sidebar > div:last-child:not(.iconOnly) > a::before,
  .sidebar .nav > div > a::before,
  .sidebar > div:last-child:not(.iconOnly) > button:not(.account):not(.post)::before,
  .sidebar .nav > div > button:not(.account):not(.post)::before {
    content: "" !important;
    position: absolute;
    border-radius: 100px !important;
    width: unset !important;
    height: unset !important;
    inset: 6px 14px !important;
    min-height: 43px;
    opacity: 0.5 !important;
    transition: background-color 0.2s;
  }
}
if mobile
{
@media (max-width: 500px) {
    main {
      --margin: 0px;
    }
    main::before,
    main::after {
      content: unset !important;
    }
    main [style="padding: 12px;"],
    main [style="padding: 24px;"] {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
    }
    main [style="padding: 12px;"] ._block,
    main [style="padding: 24px;"] ._block {
      border-radius: 0 !important;
    }
    .buttons {
      padding: 0 !important;
      background: linear-gradient(transparent, var(--bg)) !important;
      height: 120px;
      align-items: flex-end;
      border: 0 !important;
      backdrop-filter: none !important;
    }
    .buttons button {
      margin: 0 !important;
      background: none !important;
      height: 70px !important;
    }
    .buttons button i {
      font-size: 18px !important;
    }
    ._modalBg.transparent {
      background-color: var(--modalBg) !important;
    }
    ._modalBg {
      backdrop-filter: blur(10px);
    }
    .popup,
    .drawer:not(._popup) {
      --transformOrigin: center bottom !important;
      position: fixed !important;
      inset: 0 !important;
    }
    .popup .content,
    .drawer:not(._popup) .content {
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      display: flex !important;
      flex-direction: column;
      overflow-y: auto !important;
      overscroll-behavior: contain;
    }
    .popup .content::before,
    .drawer:not(._popup) .content::before {
      content: "";
      display: block;
      min-height: calc(100vh - 300px) !important;
    }
    .popup:not([class*="leave"]) .content,
    .drawer:not(._popup):not([class*="leave"]) .content {
      animation: scale 0.3s both cubic-bezier(0, 0, 0, 1.2);
      transform-origin: center bottom !important;
    }
    .popup ._popup,
    .drawer:not(._popup) ._popup {
      margin: 40px 20px !important;
      max-height: unset !important;
      min-height: max-content !important;
      overflow: unset !important;
      margin-top: auto !important;
      inset: unset !important;
      width: unset !important;
      border-radius: var(--radius) !important;
    }
    .menuDrawer {
      width: unset !important;
      height: max-content !important;
      top: unset !important;
      right: 0 !important;
      bottom: 0 !important;
      margin: 20px !important;
      max-height: calc(100vh - 300px) !important;
      overflow-y: auto !important;
      border-radius: var(--radius) !important;
    }
    .scrollable.widget {
      max-height: 60vh;
    }
}
@-moz-keyframes scale {
    from {
      transform: scale(0.95) translateY(20%);
    }
    to {
      transform: scale(1);
    }
}
@-webkit-keyframes scale {
    from {
      transform: scale(0.95) translateY(20%);
    }
    to {
      transform: scale(1);
    }
}
@-o-keyframes scale {
    from {
      transform: scale(0.95) translateY(20%);
    }
    to {
      transform: scale(1);
    }
}
@keyframes scale {
    from {
      transform: scale(0.95) translateY(20%);
    }
    to {
      transform: scale(1);
    }
}
}
  .columns > .main {
    width: TLWidth !important;
  }
  [style="max-width: 800px;"],
  ._section {
    max-width: TLWidth !important;
    margin: 0 auto;
  }
  .avatar img {
    border-radius: avatarRadi !important;
  }
}
