/*** 


	!!! MAKE SURE TO ADD YOUR INSTANCE DOMAIN IN THE APPLIES TO SECTION BELOW !!!


***/

/* ==UserStyle==
@name           Misskey Tweaks
@version        1.0.5
@description    A collection of tweaks aimed at making Misskey less cluttered!
@updateURL      https://codeberg.org/Freeplay/Misskey-Tweaks/raw/branch/main/userstyle.user.css
@homepageURL    https://codeberg.org/Freeplay/Misskey-Tweaks
@supportURL     https://codeberg.org/Freeplay/Misskey-Tweaks/issues
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)

@var text notice 'Make sure you are using the "Stylus" browser extension, not "Stylish"! — Created by @freeplay@misskey.ai' "'https://add0n.com/stylus.html'"
@var text warn           "!! REFRESH AFTER CHANGING SETTINGS !!" '"OKAY!!"'
@var checkbox header     "↔ Move header aside" 1
@var checkbox sidebar    "📇 Better Sidebar" 1
@var range    TLWidth    "↔ Timeline Width" [800, 750, 1000, 10, "px"]
@var checkbox posts      "💬 Better Posts Layout" 1
@var checkbox postClick  "🖱️ Make (almost) entire post clickable" 1
@var range    avatarRadi "⚫ Avatar Roundness" [30, 5, 50, 5, '%']
@var checkbox profile    "👤 Better Profile Page" 1
@var checkbox profilebg  "🖼 Show user banners as background" 1
@var checkbox bg         "🔲 Better Wallpaper Support" 1
@var checkbox mobile     "📱 Better Mobile Support" 1

==/UserStyle== */

@-moz-document domain("misskey.to"), domain("misskey.ai"), domain("misskey.io"), domain("fedi.nullob.si"), domain("stop.voring.me") 
    @css {if header }\{ // Doing it like this is so hacky but- I don't care anymore lmao I've spent too long trying to figure out a way of doing this.
    @import "snippets/sidebar-header"
    \}

    @css {if bg }\{
    @import "snippets/better-wallpaper"
    \}

    @css {if posts }\{
    @import "snippets/better-posts"
    \}

    @css {if postClick }\{
    @import "snippets/clickable-posts"
    \}

    @css {if profile }\{
    @import "snippets/better-profiles"
    \}

    @css {if profilebg }\{
    @import "snippets/profile-background"
    \}

    @css {if sidebar }\{
    @import "snippets/better-sidebar"
    \}

    @css {if mobile }\{
    @import "snippets/better-mobile.styl"
    \}


    // UserStyle Only Stuffs
    .columns > .main 
        width TLWidth !important
    
    [style="max-width: 800px;"], ._section 
        max-width TLWidth !important
        margin 0 auto
    

    .avatar img 
        border-radius avatarRadi !important
    
        